<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-default/index.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

        }

        .container {
            background-color: #fff;
            width: 100%;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f5f5f5;
        }

        tr:hover {
            background-color: #f9f9f9;
        }



        .sidebar {
            width: 150px;
            overflow: hidden;
        }



        .sidebar a:hover {
            background-color: #45a049;
        }

        .content {
            width: 92%;
            margin-top: 20px;
        }


        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #EFF2F7;
        }

        .box-content {
            display: flex;
            justify-content: space-between;
        }

        .page-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <header>
            <h3>学生信息管理系统</h3>
            <el-menu class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1">处理中心</el-menu-item>
                <el-menu-item index="2">订单管理</el-menu-item>
                <el-submenu index="3">
                    <template slot="title">我的</template>
                    <el-menu-item index="2-1">我的信息</el-menu-item>
                    <el-menu-item index="2-2" @click="exitlogin()">退出登录</el-menu-item>
                    <el-menu-item index="2-3" @click="dialogFormVisible_updatePwd = true">修改密码</el-menu-item>
                </el-submenu>
            </el-menu>
        </header>


        <div class="box-content">
            <div class="sidebar">
                <el-menu default-active="1" class="el-menu-vertical-demo">

                </el-menu>
                <el-menu default-active="2" >
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>学生管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1" @click="dialogFormVisible = true"><i
                                    class="el-icon-menu"></i>添加学生</el-menu-item>
                            <el-menu-item index="1-2"><i class="el-icon-menu"></i>学生信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-menu-item index="2"><i class="el-icon-menu"></i>导航二</el-menu-item>
                    <el-menu-item index="3"><i class="el-icon-setting"></i>导航三</el-menu-item>
                </el-menu>
            </div>
            <!--  内容区-->
            <div class="content">
                <el-form :inline="true" class="demo-form-inline" :model="query_data">
                    <el-form-item label="学号">
                        <el-input placeholder="学号" v-model="query_data.id"></el-input>
                    </el-form-item>
                    <el-form-item label="姓名">
                        <el-input placeholder="姓名" v-model="query_data.username"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="select">查询</el-button>
                    </el-form-item>
                    <el-form-item label="模糊查询">
                        <el-switch
                                v-model="select_data.value1"
                                on-text=""
                                off-text="">
                        </el-switch>
                    </el-form-item>

                </el-form>
                <el-table :data="students" stripe style="width: 100%" highlight-current-row>
                    <el-table-column prop="id" label="学号" width="180">
                    </el-table-column>
                    <el-table-column prop="username" label="姓名" width="180">
                    </el-table-column>
                    <el-table-column prop="age" label="年龄">
                    </el-table-column>
                    <el-table-column prop="sex" label="性别">
                    </el-table-column>
                    <el-table-column prop="className" label="班级">
                    </el-table-column>
                    <el-table-column>
                        <template slot-scope="scope">
                            <el-button type="primary" icon="edit"
                                       @click="getStudentId(scope.$index);dialogFormVisible_update = true"></el-button>
                            <el-button type="danger" icon="delete" @click="deleteStudent(scope.$index)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>

        <div class="page-box">
            <div class="block">
                <span class="demonstration"></span>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="page.currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="page.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="page.total">
                </el-pagination>
            </div>
        </div>

        <el-dialog title="添加学生" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-input v-model="form.sex" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="form.age" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="班级" :label-width="formLabelWidth">
                    <el-input v-model="form.className" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addStudent();dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改学生" :visible.sync="dialogFormVisible_update">
            <el-form :model="form">
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-input v-model="form.sex" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="form.age" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="班级" :label-width="formLabelWidth">
                    <el-input v-model="form.className" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible_update = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible_update = false;updateStudent()">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改密码" :visible.sync="dialogFormVisible_updatePwd">
            <el-form :model="form_data_user">
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="form_data_user.oldPassword" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth">
                    <el-input v-model="form_data_user.newPassword" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible_updatePwd = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible_updatePwd = false;updatePwd()">确 定</el-button>
            </div>
        </el-dialog>
    </div>


    <script src="../vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>