<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>学生信息管理系统</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../node_modules/element-ui/lib/theme-default/index.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
            overflow: hidden;
        }

        .container {
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            width: 100%;
            height: 800px;
        }



        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f5f5f5;
        }

        tr:hover {
            background-color: #f9f9f9;
        }



        .sidebar {
            width: 150px;
        }



        .sidebar a:hover {
            background-color: #45a049;
        }

        .content {
            width: 95%;

        }


        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #EFF2F7;
        }

        .box-content {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <header>
            <h3>学生信息管理系统</h3>
            <el-menu class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1">处理中心</el-menu-item>
                <el-menu-item index="2">订单管理</el-menu-item>
                <el-submenu index="3">
                    <template slot="title">我的</template>
                    <el-menu-item index="2-1">我的信息</el-menu-item>
                    <el-menu-item index="2-2" @click="exitlogin()">退出登录</el-menu-item>
                    <el-menu-item index="2-3" @click="dialogFormVisible_updatePwd = true">修改密码</el-menu-item>
                </el-submenu>
            </el-menu>
        </header>


        <div class="box-content">
            <div class="sidebar">
                <el-menu default-active="1" class="el-menu-vertical-demo">

                </el-menu>
                <el-menu default-active="2" >
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>学生管理</template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1" @click="dialogFormVisible = true"><i
                                    class="el-icon-menu"></i>添加学生</el-menu-item>
                            <el-menu-item index="1-2" @click="query()"><i class="el-icon-menu"></i>学生信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-menu-item index="2"><i class="el-icon-menu"></i>导航二</el-menu-item>
                    <el-menu-item index="3"><i class="el-icon-setting"></i>导航三</el-menu-item>
                </el-menu>
            </div>
            <!--  内容区-->
            <div class="content">
                <el-table :data="students" stripe style="width: 100%">
                    <el-table-column prop="id" label="学号" width="180">
                    </el-table-column>
                    <el-table-column prop="username" label="姓名" width="180">
                    </el-table-column>
                    <el-table-column prop="age" label="年龄">
                    </el-table-column>
                    <el-table-column prop="sex" label="性别">
                    </el-table-column>
                    <el-table-column prop="className" label="班级">
                    </el-table-column>
                    <el-table-column>
                        <template slot-scope="scope">
                            <el-button type="primary" icon="edit"
                                       @click="getStudentId(scope.$index);dialogFormVisible_update = true"></el-button>
                            <el-button type="danger" icon="delete" @click="deleteStudent(scope.$index)"></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>



        <el-dialog title="添加学生" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-input v-model="form.sex" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="form.age" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="班级" :label-width="formLabelWidth">
                    <el-input v-model="form.className" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addStudent();dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改学生" :visible.sync="dialogFormVisible_update">
            <el-form :model="form">
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="form.id" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-input v-model="form.sex" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="form.age" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="班级" :label-width="formLabelWidth">
                    <el-input v-model="form.className" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible_update = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible_update = false;updateStudent()">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改密码" :visible.sync="dialogFormVisible_updatePwd">
            <el-form :model="form_data_user">
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="form_data_user.oldPassword" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth">
                    <el-input v-model="form_data_user.newPassword" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible_updatePwd = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible_updatePwd = false;updatePwd()">确 定</el-button>
            </div>
        </el-dialog>
    </div>


    <script src="../vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../node_modules/element-ui/lib/index.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                students: [],

                form: {},

                form_data_user: {
                    oldPassword: '',
                    newPassword: ''
                },

                dialogFormVisible: false,
                dialogFormVisible_update: false,
                dialogFormVisible_updatePwd: false,
                formLabelWidth: '80px',
                scopeIndex: '',
                loginUser: ''
            },
            methods: {
                query() {
                    this.students.length = 0
                    const xhr = new XMLHttpRequest()
                    xhr.open('Get', 'http://10.1.8.125:9090/get', false)
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            const jsonRes = JSON.parse(xhr.responseText)
                            if (jsonRes.code === 0) {
                                // this.$message({
                                //     message: '查询成功',
                                //     type: 'success'
                                // })
                                for (let i = 0; i < jsonRes.data.length; i++) {
                                    this.students.push(jsonRes.data[i]); // 将jsonRes.data添加到students数组中
                                }
                            } else {
                                this.$message({
                                    message: jsonRes.message,
                                    type: 'error'
                                })
                            }
                        }
                    };
                    xhr.send();
                },

                exitlogin() {
                    this.$confirm('此操作将注销登录, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        sessionStorage.setItem('username', '')
                        this.$message({
                            type: 'success',
                            message: '成功!'
                        });
                        window.location.replace('login.html')
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消'
                        });
                    });
                },

                addStudent() {
                    const xhr = new XMLHttpRequest()

                    const student = JSON.stringify(this.form)
                    xhr.open('POST', 'http://10.1.8.125:9090/add', false)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            const jsonRes = JSON.parse(xhr.responseText)
                            if (jsonRes.code === 0) {
                                this.$message({
                                    message: '添加成功!',
                                    type: 'success'
                                });
                                this.query()
                            } else {
                                this.$message({
                                    message: jsonRes.message,
                                    type: 'error'
                                })
                            }
                        }
                    };
                    xhr.send(student);
                },

                deleteStudent(index) {
                    this.$confirm('此操作将删除该学生, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        const sid = this.students[index].id
                        const xhr = new XMLHttpRequest()
                        xhr.open('DELETE', 'http://10.1.8.125:9090/delete', false)
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                        xhr.onreadystatechange = () => {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                const jsonRes = JSON.parse(xhr.responseText)
                                if (jsonRes.code === 0) {
                                    this.$message({
                                        message: '删除成功!',
                                        type: 'success'
                                    });
                                    this.query()
                                } else {
                                    this.$message({
                                        message: jsonRes.message,
                                        type: 'error'
                                    })
                                }
                            }
                        };
                        xhr.send("id=" + sid);

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },

                getStudentId(index) {
                    const student = JSON.stringify(this.students[index])
                    this.scopeIndex = JSON.parse(student).id
                    this.form = this.students[index]
                },

                updateStudent() {
                    const stu_old_id = this.scopeIndex

                    const update_stu = JSON.stringify(this.form)
                    const xhr = new XMLHttpRequest()
                    xhr.open('PUT', 'http://10.1.8.125:9090?oldId=' + stu_old_id, false)
                    xhr.setRequestHeader('Content-Type', 'application/json')
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            const jsonRes = JSON.parse(xhr.responseText)
                            if (jsonRes.code === 0) {
                                this.$message({
                                    message: '修改成功!',
                                    type: 'success'
                                });
                                this.query()
                            } else {
                                this.$message({
                                    message: jsonRes.message,
                                    type: 'error'
                                })
                            }
                        }
                    };
                    xhr.send(update_stu);
                },

                updatePwd() {
                    const username = sessionStorage.getItem("username");
                    const oldPassword = this.form_data_user.oldPassword;
                    const newPassword = this.form_data_user.newPassword;

                    const xhr = new XMLHttpRequest()
                    xhr.open('PATCH', 'http://10.1.8.125:9090', false)
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            const jsonRes = JSON.parse(xhr.responseText)
                            if (jsonRes.code === 0) {
                                this.$message({
                                    message: '修改成功!',
                                    type: 'success'
                                });
                                this.query()
                            } else {
                                this.$message({
                                    message: jsonRes.message,
                                    type: 'error'
                                })
                            }
                        }
                    };
                    xhr.send("username=" + username + "&oldPassword=" + oldPassword + "&newPassword=" + newPassword);
                },

            },
            // created钩子函数 实例创建完成后执行
            created() {
                this.query()
                loginUser = sessionStorage.getItem('username');
                if (loginUser == '' || loginUser == null) {
                    this.$message({
                        message: '请先登录',
                        type: 'error'
                    });
                    setTimeout(function () {
                        window.location.replace('login.html')
                    }, 1500)
                } else {
                    this.$message({
                        message: '欢迎您' + loginUser,
                        type: 'info'
                    });
                }
            }
        });
    </script>
</body>

</html>